
input[type="button"] {
    cursor: pointer;
}

#gameRelated {
    display: flex;
    justify-content: space-around;
}

#gameHeader {
    margin: 20px auto;
    text-align: center;
}

.flagTimeArea {
    margin: 0 20px;
}


#game {
    overflow: scroll;
    padding: 20px;
}



#gameCanvas {
    width: 500px;
    height: 500px;
    margin: auto;
    display: block;
    border: 5px black solid;
}



#modeArea {
    text-align: center;
    margin: 20px auto;
}


/* https://webparts.cman.jp/button/onoff/ */

/* === ボタンを表示するエリア ============================== */
.modeToggle {
    position: relative;
    margin: auto;
    width: 160px;
    height: 60px;
    margin: 20px auto;
}

/* === ラジオボタン ======================================== */
.modeToggle input[type="radio"] {
    display: none;
}

/* === ラジオボタンのラベル（標準） ======================== */
.modeToggle label {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 60px;
    font-size: 18pt;
    font-weight: bold;
    border: 2px solid #ccc;
    cursor: pointer;
}

/* === ON側のラジオボタンのラベル（標準） ================== */
.modeToggle #searchMode+label {
    right: 50%;
    border-radius: 6px 0 0 6px;
    background: #eee;
    color: #666;
    border-right: none;
}

/* === ON側のラジオボタンのラベル（ONのとき） ============== */
.modeToggle #searchMode:checked+label {
    background: linear-gradient(180deg, #00b359, #006633, #00b359);
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

/* === OFF側のラジオボタンのラベル（標準） ================ */
.modeToggle #flagMode+label {
    left: 50%;
    border-radius: 0 6px 6px 0;
    background: #eee;
    color: #666;
    border-left: none;
}

/* === OFF側のラジオボタンのラベル（OFFのとき） ============= */
.modeToggle #flagMode:checked+label {
    /* background: linear-gradient(175deg, #ccc, #999, #ccc); */
    background: linear-gradient(180deg, #b30059, #660033, #b30059);
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}



#settings {
    margin: 20px;
    padding: 20px;
    min-width: 150px;
}

#settings div {
    margin: 20px auto;
}

#settings input {
    width: 90%;
    padding: 10px;
}