* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: content-box;
}

body {
    background: url("./images/background.jpg");
}

h1 {
    text-align: center;
    margin: 20px;
}

#backToTop {
    position: fixed;
    top: 10px;
    left: 10px;
}

#backToTop a {
    text-decoration: underline;
}



#games {
    margin: 20px auto;
    width: 80%;
    border-radius: 30px;
    background-color: #ccc;
    padding: 30px;
    max-width: 600px;
}

#games h2 {
    text-align: center;
}

#games ul li  {
    margin: 10px;
    padding: 10px;
    list-style-type: disc;
}

#games ul li a {
    text-decoration: underline;
}

